* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: lightgray;
}

.main {
  height: 100%;
  width: 80%;
  margin: 5% auto;
  padding: 1px;
  background-color: white;
  border: 1px solid black;
}

.Col {
  height: 100%;
  width: 33.33%;
  float: left;
}

.left {
  background-color: blue;
}

.mid {
  background-color: turquoise;
}

.right {
  background-color: lime;
}

.top {
  height: 80%
}

.bottom {
  height: 20%;
  background-color: red;
  color: white;
  font-size: 32px;
  text-align: center;
  line-height: 4;
}