* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: lightgray;
}

.main {
  height: 100%;
  width: 80%;
  margin: 5% auto;
  padding: 1px;
  background-color: lightgray;
  border: 1px solid black;
}

.header {
  height: 20%;
  background-color: black;
}

.section {
  height: 80%;
  width: 70%;
  background-color: white;
  margin: 0 auto;
}

.middle {
  height: 85%;
}

.bottom {
  height: 15%;
  background-color: black;
}

